<!DOCTYPE html>
<html lang="en">
<head>
    <title>Armaan Dhir</title>
    
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="description" content="qlik, challenge"/>
    <meta name="author" content="Armaan Dhir"/>
	
    <link href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'/>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
    <!--<link rel="stylesheet" href="css/animate.css">-->
</head>
<body>  
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">CHOOSE A USERNAME</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" id="frm-login">
                            
                                <div class="form-group">
                                    <input class="form-control" placeholder="username" name="username" id="username" type="text" autofocus="" required=""/>
                                </div>
                                <button type="submit" class="btn btn-success btn-block">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<script src="../static/js/login.js" th:src="@{js/login.js}"></script>
</body>
</html>