.container-custom {
    padding-top: 120px;
}

.navbar-btn{
    margin-right: 10px;
}

.modal-messages-wrapper{
    overflow-y: initial !important
}

.message-box{
    height: 500px;
    overflow-y: auto;
}

.msg-box-left {
    background-color: whitesmoke;
    display: inline-block;
    padding: 7px 7px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 2px lightgrey;
    -moz-box-shadow: 1px 1px 2px lightgrey;
    box-shadow:  1px 1px 2px lightgrey;
    min-width: 100px;
    max-width: 50%;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.msg-box-right {
    background-color: #CCFF90;
    display: inline-block;
    padding: 7px 7px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 2px lightgrey;
    -moz-box-shadow: 1px 1px 2px lightgrey;
    box-shadow:  1px 1px 2px lightgrey;
    min-width: 100px;
    max-width: 50%;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.display-name{
    display: inline-block;
    color: darkgrey;
    font-size: 90%;
    font-weight: bold;
}

.display-time{
    display: inline-block;
    color: darkgrey;
    font-size: 80%;
    padding-top: 4px;
    padding-left: 15px;
}

.display-text{
    color: black;
}

/* unvisited link */
a:link {
    text-decoration: none;
    color: black;
}

/* visited link */
a:visited {
    text-decoration: none;
    color: default;
}

/* mouse over link */
a:hover {
    text-decoration: none;
    color: default;
}

/* selected link */
a:active {
    text-decoration: none;
    color: default;
}



